@model IEnumerable<OnlineShop.Models.Customer>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    <script src="/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    @{Html.RenderPartial("Menu");}
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table dir="rtl" class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>

        }

    </table>
    <p dir="rtl">
        @using (Html.BeginForm())
        {
        <p>
            @Html.TextBox("searchitem")
        </p>
        <input type="submit" value="search" />
        @Html.ActionLink("search", "Search");
        }
        </p>
    </body>
</html>
